* {
  box-sizing: border-box;
  padding:2%;
}


.product_card {
  border: 1px solid #d59090;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  background-color: #aeeb09;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product_name {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.product_price {
  font-size: 1em;
  color: #555;
  margin-bottom: 15px;
}

.view-product-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.view-product-button:hover {
  background-color: #0056b3;
}
